<!DOCTYPE html>
<html>
<head>
    <title>설곽 1-8 전자플랫폼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>

<div class="header">
    <span>📝 회원가입</span>
</div>

<div class="login-container">
    <div class="login-box">
        <h2>정보 입력</h2>

        <form method="POST">
            <input name="id" placeholder="쓰고 싶은 ID" required>
            <input name="pw" type="password" placeholder="비밀번호" required>
            <input name="pw_confirm" type="password" placeholder="비밀번호 재확인" required>
            
            <input name="student_id" placeholder="교번 (예: 26001)" required>
            <input name="name" placeholder="실명" required>
            
            <input name="birth" type="text" placeholder="생년월일" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')" required>
            
            <button type="submit" style="margin-top: 15px;">가입하기</button>
        </form>

        <div style="margin-top: 15px;">
            <a href="/" style="color: gray; text-decoration: none; font-size: 14px;">로그인 화면으로 돌아가기</a>
        </div>

    </div>
</div>

</body>
</html>